<%- include('../partials/header') %>
        <h1>Flight List</h1>
        <table align=center border=1>
          <thead>
            <th>Airport</th>
            <th>Airline</th>
            <th>Flight No</th>
            <th>Departs</th>
            <th>Details</th>
            <th>Remove</th>
          </thead>
          <tbody>
          <% flights.forEach(function(flight) { %>
            <tr>
              <td><%= flight.airport %></td>
              <td><%= flight.airline %></td>
              <td><%= flight.flightNo %></td>
              <td><%= flight.departs %></td>
              <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
              <form action="/flights/<%= flight._id %>?_method=DELETE", method="POST">
                <td><button class= "deletebtn" type="delete">X</button></td>
              </form>
            </tr>
          <% }) %>
          </tbody>
        </table>
</body>
</html>