<%- include('../partials/header') %>
        <h2>Flight List</h2>
        <table align=center border=1>
          <thead>
            <th>Airport</th>
            <th>Airline</th>
            <th>Flight No</th>
            <th>Departs</th>
            <th>Details</th>
          </thead>
          <tbody>
          <% flights.forEach(function(flight) { %>
            <tr>
              <td><%= flight.airport %></td>
              <td><%= flight.airline %></td>
              <td><%= flight.flightNo %></td>
              <td><%= flight.departs %></td>
              <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
            </tr>
          <% }) %>
          </tbody>
        </table>
</body>
</html>